
header .navbar{
    height: 64px;
    background: #f8bbd0
}


.logo{
    width: 60px;
    margin: 10px;
}
ul{
    margin-top: 5px;
    font-family: 'Montserrat', sans-serif;
}
nav ul{
float: right;
margin-right: 20px;
padding: 20px;
}

nav ul li{
    display:inline-block;
}

.navbar ul li a{
    padding: 10px;
    color:#971a66;
    font-weight:lighter;
    text-decoration: none;
    
}

.splash{
    width: 100%;
    height:100vh;
    background: url(../images/bolsaeme.png)center center;
    background-size: cover;
}

.centrado{
    text-align: center;
}

.espacios{
    padding-top: 100px;
    padding-bottom: 100px;
}
.splash h2{
    float: right;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Pacifico', cursive;
    margin-top: 100px ;
    color: #971a66;
    padding: 100px;
    padding-right: 0px;
    font-size: 89px;
   
}

.splash .btn{
    background-color: #64ffda;
    color:#971a66;
    float: right;
    font-weight: bold;
}

.sin-deco{
    text-decoration: none;
    color:#971a66;
}

.description{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color:#971a66;
}

.content{
    padding:20px;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Pacifico', cursive;
    
}

.content .btn{
    background-color: #64ffda;
    color:#971a66;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    float: right;
}

.footer{
    color:#971a66;
    font-family: 'Montserrat', sans-serif;
}